gradle-wrapper.jar
/.gradle
/build/
/local.properties
/.idea/
.DS_Store
*.iml
*.hprof
*.log
*.apk
*.ap_
*.aab
*.dex
*.class
.idea/
.gradle/build/
captures/
.externalNativeBuild/
.cxx/
local.properties
*.jks
*.keystore
.mtj.tmp/
out/safe/
release/
*.swp
.mtj.tmp/
.gradle-wrapper/
app/build/
